@import './../styles/general.module.scss';
@import './../styles//theme.module.scss';
.home-container{
  font-size: 18px;
  .name-holder{
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  p:first-child{
    display: inline-block;
  }
  .name-element{
    font-size: 2em;
    display: inline-block;
    color: map-get($theme, standard, top-rail, clr);
  }
  .profile-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
      @include card(map-get($theme, standard, body, clr));
      width: 20%;
    }
    figcaption{
      font-size: 24px;
      font-weight: bold;
      padding: 2%;
      display: block;

      span{
        display: block;
      }
    }
  }
  .social-media-container{
    display: flex;
    justify-content: center;
    padding: 2%;
    flex-wrap: wrap;

    .link-container{
      @include card(map-get($theme, standard, body, clr));
      @include clickable(map-get($theme, standard, body, bg), map-get($theme, standard, body, clr) );
      margin: 1%;
      padding: 1%;
      text-decoration: none;
      color: map-get($theme, standard, body, clr);
      text-align: center;
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      .name{
        display: block;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}