@import './../../styles/theme.module.scss';

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
}

.header-container{
  background-color: map-get($theme, standard, top-rail, bg );
  color: map-get($theme, standard, top-rail, clr );
  height: 10vh;
  flex-grow: 1;

  .title{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    font-weight: bold;
    font-size: 32px;
  }
}
.body-content{
  background-color: adjust-color(map-get($theme, standard, body, bg ), $lightness: +10%);
  color: map-get($theme, standard, body, clr);
  flex-grow: 1;
}