.left-rail-container{
  height: 100vh;
  width: 10%;
  border-right: 1px solid white;
  
  .left-menu-item{
    height: 10%;
    width: 100%;
    background-color: white;
    color: red;
  }
  .menu-container{
    text-decoration: none;
    display: flex;
    flex-direction: column;


    .menu-option{
      text-decoration: none;
      color: white;
      padding: 10% 5% 10% 10%;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      
      &:hover{
        background-color: rgb(56, 56, 56);
      }

      &:active{
        background-color: rgb(115, 115, 115);
      }
    }
  }
}
