@import './../../styles/general.module.scss';
@import './../../styles/theme.module.scss';

.left-rail-container{
  background-color: map-get($theme, standard, left-rail, bg);
  color: map-get($theme, standard, left-rail, clr);
  height: 100vh;
  width: 10%;
  font-size: 18px;
  
  .left-menu-item{
    height: 10%;
    width: 100%;
  }
  .menu-container{
    text-decoration: none;
    display: flex;
    flex-direction: column;


    .menu-option{
      @include clickable(map-get($theme, standard, left-rail, bg), map-get($theme, standard, left-rail, clr) );
      text-decoration: none;
      padding: 10% 5% 10% 10%;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }
}
