
@mixin card ($color){
  box-shadow: 0px 0px 3px 0px $color;
  border-radius: 5px;
}

@mixin clickable ($bg-color, $color){
  $lightness: lightness($bg-color);
  @if($lightness <50){
    &:hover{
      background-color: adjust-color($color: $bg-color,$lightness: +20%);
      transition-duration: 500ms;
      transition-property: transform;
      transform: scale(1.1);
      color: $color;
    }

    &:active{
      background-color: adjust-color($color: $bg-color,$lightness: +40%);
      transition-duration: 500ms;
      transition-property: transform;
      transform: scale(1.1);
      color: $color;
    }
  } @else {
    &:hover{
      background-color: adjust-color($color: $bg-color,$lightness: -10%);
      transition-duration: 500ms;
      transition-property: transform;
      transform: scale(1.1);
      color: $color;
    }

    &:active{
      background-color: adjust-color($color: $bg-color,$lightness: -20%);
      transition-duration: 500ms;
      transition-property: transform;
      transform: scale(1.1);
      color: $color;
    }
  }
}
